COMMERCEFLOW_GATEWAY_URL=http://localhost:8080
COMMERCEFLOW_IDENTITY_URL=http://localhost:8081
COMMERCEFLOW_SALES_URL=http://localhost:8082
COMMERCEFLOW_INVENTORY_URL=http://localhost:8083
COMMERCEFLOW_COOKIE_SECURE=false
